{{ define "modals" }}
<!-- 新增 -->
<div id="frontOrderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">訂購說明</h4>
            </div>
            <div class="modal-body">
                <h3>新版的使用方式如下：</h3>

                <div class="form-group">
                    <div class="example-title">1. 填寫好姓名、連絡電話以及配送的地址，如有什麼需要跟我們說的可以打在備註！</div>
                    <img src="/static/images/example/1.jpg" style="width:100%;">
                </div>

                <div class="form-group">
                    <div class="example-title">2. 依照您要購買品項數量按下新增商品，若要購買 2 個品項就按 2 次新增商品，如果不確定也可以先選完需要的再增加。</div>
                    <img src="/static/images/example/2.jpg" style="width:100%;">
                </div>

                <div class="form-group">
                    <div class="example-title">3. 選擇您要的商品及數量。</div>
                    <img src="/static/images/example/3.jpg" style="width:100%;">
                </div>

                <div class="form-group">
                    <div class="example-title">4. 可以點選商品前的圖示瀏覽照片, 確認是否為自己要的商品。</div>
                    <img src="/static/images/example/4.jpg" style="width:100%;">
                </div>

                <div class="form-group">
                    <div class="example-title">5. 送出表單。</div>
                    <img src="/static/images/example/5.jpg" style="width:100%;">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
{{end}}