{{ define "others" }}
<!-- 新增 -->
<div id="productSortModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">調整排序</h4>
            </div>
            <div class="modal-body">
                <div class="list-group col" id="sortItems"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveSortBtn" onclick="SaveSort()">儲存</button>
            </div>
        </div>
    </div>
</div>
{{end}}