{{define "index/content"}}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/static/images/front/bg-01.jpg'); position: relative; height:239px;">
    <div style="background-color: #000000; opacity: 0.3; width:100%; height:100%; position: absolute; top:0px;left:0px; padding:0px; margin:0px;"></div>
    <h2 class="ltext-105 cl0 txt-center" style="position:absolute; z-index: 100; top:50%; left: 50%; transform: translate(-50%, -50%);">關於我們</h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <template v-if="title1 != ''">
                        <h3 class="mtext-111 cl2 p-b-16">@{title1}</h3>
                    </template>

                    <template v-if="content1 != ''">
                        <p v-html="content1"></p>
                    </template>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <template v-if="picture1 != ''">
                    <div class="how-bor1 ">
                        <div class="hov-img0">
                            <img :src="'/static/uploads/about/' + picture1" alt="IMG">
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <template v-if="title2 != ''">
                        <h3 class="mtext-111 cl2 p-b-16">@{title2}</h3>
                    </template>

                    <template v-if="content2 != ''">
                        <p v-html="content2"></p>
                    </template>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <template v-if="picture2 != ''">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img :src="'/static/uploads/about/' + picture2" alt="IMG">
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</section>
<script>
    const vmApp = Vue.createApp({
        delimiters: ["@{", "}"],
        data() {
            return {
                title1: '{{ .aboutData.Title1 }}',
                content1: '{{ .aboutData.Content1 }}',
                picture1: '{{ .aboutData.Picture1 }}',
                title2: '{{ .aboutData.Title2 }}',
                content2: '{{ .aboutData.Content2 }}',
                picture2: '{{ .aboutData.Picture2 }}',
            }
        },
        mounted() {
        },
        watch: {
        },
        computed: {
        },
        methods: {
        },
    });
    const vm_app = vmApp.mount('#app');
</script>
{{end}}