{{define "index/content"}}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            <span>首頁</span>
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">購物車</span>
    </div>
</div>


<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row" style="display:flex; flex-direction: column;">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">商品名稱</th>
                                <th class="column-2"></th>
                                <th class="column-3">價格</th>
                                <th class="column-4">數量</th>
                                <th class="column-5">總價</th>
                            </tr>
                            <tr v-if="Object.keys(orderDetail).length == 0">
                                <td style="padding:15px;" colspan="5" align="center">購物車為空!</td>
                            </tr>
                            <tr class="table_row" v-else v-for="(data, index) in orderDetail">
                                <td class="column-1">
                                    <div class="how-itemcart1" @click="removeProduct(data.id)">
                                        <img :src="data.picture" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">@{data.name}</td>
                                <td class="column-3">$ @{data.price}</td>
                                <td class="column-4">
                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" @click="updateAmount(data.id, 'sub')">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number"
                                            name="num-product1" :value="orderDetail[index].amount" v-model="orderDetail[index].amount">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" @click="updateAmount(data.id, 'add')">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="column-5">$ @{ parseInt(data.amount) * parseInt(data.price) }</td>
                            </tr>

                        </table>
                    </div>

                    
                </div>
            </div>

            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl bor10 p-lr-40 p-t-30 p-b-40 p-lr-15-sm">

                    <h4 class="mtext-109 cl2 p-b-30">
                        訂購人資訊
                    </h4>

                    <div class="flex-w flex-t p-b-13" style="align-items:center;">
                        <div class="size-208 mb-2">
                            <span class="mr-1" style="color:#FF0000;">*</span>
                            <span class="mtext-107 cl2" style="white-space: nowrap;">訂購人姓名:</span>
                        </div>

                        <div class="bor8 bg0" style="width:100%;">
                            <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="請輸入姓名" v-model="orderInfo.name" ref="orderInfoName">
                        </div>
                    </div>

                    <div class="flex-w flex-t p-b-13" style="align-items:center;">
                        <div class="size-208 mb-2">
                            <span class="mr-1" style="color:#FF0000;">*</span>
                            <span class="mtext-107 cl2" style="white-space: nowrap;">聯絡方式:</span>
                        </div>

                        <div class="bor8 bg0" style="width:100%;">
                            <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="請輸入聯絡方式" v-model="orderInfo.contact" ref="orderInfoContact">
                        </div>
                    </div>

                    
                    <div class="flex-w flex-t p-b-13" style="align-items:center;">
                        <div class="size-208 mb-2" style="width:100%">
                            <span class="mr-1" style="color:#FF0000;">*</span>
                            <span class="mtext-107 cl2" style="white-space: nowrap;">配送地址:</span>
                        </div>

                        <div class="mb-2" style="display: inline-flex; width:100%;">
                            <select class="stext-111 cl8 plh3 size-111 p-lr-15 mr-3" name="order_city" style="border-color:#E0E0E0;max-width:150px;" v-model="orderInfo.city" ref="orderInfoCity">
                                <option value="">選擇縣市</option>
                                <option v-for="data in cityData" :value="data.CityName">@{ data.CityName }</option>
                            </select>

                            <select class="stext-111 cl8 plh3 size-111 p-lr-15" name="order_city" style="border-color:#E0E0E0;max-width:150px;" v-model="orderInfo.area" ref="orderInfoArea">
                                <option value="">選擇區</option>
                                <option v-for="data in areaData" :value="data.AreaName">@{ data.AreaName }</option>
                            </select>
                        </div>

                        <div class="bor8 bg0" style="width:100%;">
                            <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" placeholder="請輸入地址" v-model="orderInfo.address" ref="orderInfoAddress">
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 p-b-13" style="align-items:center;">
                        <div class="size-208 mb-2">
                            <span class="mtext-107 cl2" style="white-space: nowrap;">備註:</span>
                        </div>

                        <div class="bor8 bg0" style="width:100%;">
                            <textarea class="form-control" rows="3" v-model="orderInfo.remark"></textarea>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                <span class="mr-2">總價格:</span>
                                <span>@{ '$' + totalPrice }</span>
                            </span>
                        </div>
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" type="button" @click="submit()" v-if="canSubmit">
                        送出訂單
                    </button>
                    <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 p-lr-15 trans-04" type="button" v-else>
                        <i class='fa fa-spinner fa-spin fa-3x fa-fw'></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
const vueApp = Vue.createApp({
    delimiters : ["@{", "}"],
    data() {
        return {
            orderDetail: vm_header.orderDetail, // 購物車資訊
            cityData:[],
            areaData:[],
            orderInfo: {
                "name": "",
                "contact": "",
                "city": "",
                "area": "",
                "address": "",
                "remark": "",
            },
            totalPrice: vm_header.totalPrice,
            canSubmit: true,
        }
    },
    mounted() {
        this.getAddress();
    },
    watch: {
        mappingOrderInfo: {
            handler: function(newVal, oldVal) {
                if(oldVal["city"] !== newVal["city"]) {
                    console.log('test');
                    this.areaData = [];
                    this.orderInfo["area"] = "";
                    for( i=0; i<this.cityData.length; i++) {
                        if(this.cityData[i].CityName == newVal["city"]) {
                            this.areaData = this.cityData[i].AreaList;
                        }
                    }
                }
            },
            deep: true,
        },
        orderDetail: {
            handler: function() {
                this.totalPrice = 0
                for (const key in this.orderDetail) {
                    this.totalPrice += parseInt(this.orderDetail[key].amount) * parseInt(this.orderDetail[key].price);
                }
            },
            deep: true,
        }
    },
    computed: {
        mappingOrderInfo: function() {
            return JSON.parse(JSON.stringify(this.orderInfo));
        },
    },
    methods: {
        getAddress: async function() {
            try {
                const response = await axios.get('/static/js/taiwanAddressJson.json');
                this.cityData = response.data;
            } catch (error) {
                if (error.response !== undefined) {
                    this.errorMsg = error.response.data.message;
                } else {
                    this.errorMsg = error.message;
                }
                console.log(this.errorMsg);
            }
        },
        updateAmount: function(id, action) {
            switch(action) {
                case "sub":
                    if (this.orderDetail[id].amount > 1) {
                        this.orderDetail[id].amount -= 1;
                    } else {
                        if(confirm("確定刪除?")) {
                            delete this.orderDetail[id];
                        }
                    }
                    break;
                case "add":
                    this.orderDetail[id].amount++;
                    break;
            }
        },
        removeProduct: function(id) {
            if(confirm("確定刪除?")) {
                if(this.orderDetail[id] !== undefined) {
                    delete this.orderDetail[id];
                }
            }
        },
        submit: async function() {
            checkFlag = true;
            if(Object.keys(vm_header.orderDetail).length == 0) {
                swal("訂購失敗", "購物車為空, 請先選購商品", "error");
                return;
            }
            let requireFields = ["name", "contact", "city", "area","address"];
            let focusMapping = {
                "name": {el: "orderInfoName", tip: "請輸入訂購人姓名"},
                "contact": {el: "orderInfoContact", tip: "請輸入聯絡方式"},
                "city": {el: "orderInfoCity", tip: "請選擇縣市"},
                "area": {el: "orderInfoArea", tip: "請選擇區"},
                "address": {el: "orderInfoAddress", tip: "請輸入地址"},
            }
            for (const key in this.orderInfo) {
                if( requireFields.indexOf(key) !== -1) {
                    if(this.orderInfo[key] == "") {
                        alert(focusMapping[key]["tip"]);
                        this.$refs[focusMapping[key]["el"]].focus();
                        return;
                    }
                }
            }
            try {
                this.canSubmit = false;
                const response = await axios.post('/orders/add',{
                    name: this.orderInfo["name"],
                    contact: this.orderInfo["contact"],
                    address: this.orderInfo["city"] + this.orderInfo["area"] + this.orderInfo["address"],
                    remark: this.orderInfo["remark"],
                    detail: JSON.stringify(this.orderDetail),
                });
                swal("訂購成功", "已收到您的訂單 !", "success");
            } catch (error) {
                if (error.response !== undefined) {
                    this.errorMsg = error.response.data.message;
                } else {
                    this.errorMsg = error.message;
                }
                swal("訂購失敗", "請重新輸入訂單 !", "error");
                console.log(this.errorMsg);
            }
            this.canSubmit = true;
            vm_header.orderDetail = {};
        }
    },
});
const vm_app = vueApp.mount('#app');
</script>
{{end}}