{{define "index/footer"}}
<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    <i class="fa-solid fa-paperclip"></i>
                    快速連結
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/" class="stext-107 cl7 hov-cl1 trans-04">
                            首頁
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/product" class="stext-107 cl7 hov-cl1 trans-04">
                            所有商品
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/about" class="stext-107 cl7 hov-cl1 trans-04">
                            關於我們
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/contact" class="stext-107 cl7 hov-cl1 trans-04">
                            聯絡我們
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    <i class="fa-regular fa-address-card"></i>
                    店家資訊
                </h4>

                <ul>
                    <li class="stext-107 cl7 size-201">店址 :</li>
                    <li class="stext-107 cl7 size-201 mb-2">- 804高雄市鼓山區美術北三路68號</li>
                    <li class="stext-107 cl7 size-201">營業時間 :</li>
                    <li class="stext-107 cl7 size-201">- 每日 11:00–19:00</li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    <i class="fa-solid fa-phone"></i>
                    聯絡電話
                </h4>
                <ul>
                    <li class="stext-107 cl7 size-201">tel: (07) 522-3772</li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    <i class="fa-regular fa-hashtag"></i>
                    相關連結
                </h4>

                <div >
                    <a target="_blank" href="https://www.facebook.com/people/%E9%9B%AA%E5%9B%BD%E9%AD%9A%E6%B2%BC/100066468535021/" class="fs-24 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a target="_blank" href="https://instagram.com/niigataiwan" class="fs-24 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>
{{end}}