{{define "index/content"}}
<section class="bg0 ">
    <div class="container pt-5">
        <div style="background-color: #bbb4b4; height: 150px; width: 100%; display: flex; align-items: center; justify-content: center; border-radius: 10px;">
            <div style="background-color: #FFFFFF; width: 135px; height: 135px; display: flex; align-items: center; justify-content: center; flex-direction: column; border-radius: 50%;">
                <i class="fa-solid fa-cart-shopping" style="font-size: 40px; color: rgb(126, 57, 57);"></i>
                <span style="color: #000000; font-weight: bold;">全館滿<span style="color: red; font-weight: bold;">2,000</span>免運</span>
            </div>
        </div>
    </div>
</section>

<!-- Product -->
<section class="bg0 p-b-140">
    <div class="container p-5">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                @{ categoryTitle }
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button :class="(kind=='all')?'stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1':'stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5'" @click="category('all')" ref="category_all">
                    所有商品
                </button>
                
                {{ range $data := .productType }}
                    <button :class="(kind=='{{$data.id}}')?'stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1':'stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5'" @click="category('{{$data.id}}')" ref="category_{{$data.id}}">
                        {{$data.name}}
                    </button>
                {{ end }}
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    搜尋
                </div>
            </div>
            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="搜尋" v-model="keyword">
                </div>	
            </div>
        </div>

        <div class="row isotope-grid">
            <template v-if="productLoading">
                <i class='fa fa-spinner fa-spin fa-3x fa-fw' style="margin: 0 auto;"></i>
            </template>
            <template v-else v-for="data in productData">
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35">
                    <div class="block2">
                        <a :href="'/product/' + data.id">
                            <template v-if="data.picture === null">
                                <div class="block2-pic hov-img0" style="background-image:url('/static/images/front/product-01.jpg');"></div>
                            </template>
                            <template v-else>
                                <div class="block2-pic hov-img0" :style="'background-image:url(/static/uploads/'+data.id+'/'+data.picture[0]+');'"></div>
                            </template>
                        </a>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a :href="'/product/' + data.id" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:18px;">
                                    @{ data.name }
                                </a>
                                <template v-if="data.discount_price > 0">
                                    <div style="display: flex">
                                        <span class="mr-1" style="text-decoration:line-through;">
                                            @{ '$' + data.price }
                                        </span>
                                        <span class="stext-105 cl3">
                                            @{ '$' + data.discount_price }
                                        </span>
                                    </div>
                                </template>
                                <template v-else>
                                    <span class="stext-105 cl3">
                                        @{ '$' + data.price }
                                    </span>
                                </template>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                
                                <a v-if="data.amount > 0"
                                href="javascript:void(0)" 
                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" 
                                @click="addToCart(data.id, data.name, data.price, data.discount_price, data.picture)">
                                    <i class="zmdi zmdi-shopping-cart cl2" style="font-size:20px;"></i>
                                </a>
                                
                                <a v-else
                                href="javascript:void(0)" 
                                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <i class="zmdi zmdi-shopping-cart cl2" style="font-size:20px; color: gray"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a v-if="!productLoading && productPage < productTotalPage" href="javascript:void(0)" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" @click="loadMoreProduct()">更多商品</a>
        </div>
    </div>
</section>
<script>
const vueApp = Vue.createApp({
    delimiters : ["@{", "}"],
    data() {
        return {
            keyword: '',
            kind: 'all',
            categoryTitle: '所有商品',
            productPage: 1,
            productTotalPage: 1,
            productData: [],
            productLoading: true,
            apiCallSuccess: true,
        }
    },
    mounted() {
        this.getProduct();
    },
    watch: {
        keyword: function(){
            this.productPage = 1;
            this.getProduct();
        }
    },
    computed: {
    },
    methods: {
        getProduct: async function() {
            this.productLoading = true;
            try {
                const response = await axios.get('/api/front/products?page=' + this.productPage + '&keyword=' + this.keyword + '&kind=' + this.kind);
                this.productData = response.data.data;
                this.productTotalPage = Math.ceil(response.data.count/8);
            } catch (error) {
                this.apiCallSuccess = false;
                if (error.response !== undefined) {
                    this.errorMsg = error.response.data.message;
                } else {
                    this.errorMsg = error.message;
                }
            }
            this.productLoading = false;
        },
        loadMoreProduct: async function() {
            this.productPage ++;
            try {
                const response = await axios.get('/api/front/products?page=' + this.productPage + '&keyword=' + this.keyword + '&kind=' + this.kind);
                if(response.data.data.length > 0) {
                    this.productData = this.productData.concat(response.data.data);
                }
            } catch (error) {
                if (error.response !== undefined) {
                    console.log(error.response.data.message);
                } else {
                    console.log(error.message);
                }
            }
        },
        addToCart: function(id, name, price, discountPrice, picture) {
            let insertPrice = price;
            if(discountPrice !== undefined && discountPrice > 0) {
                insertPrice = discountPrice;
            }
            if(typeof(vm_header.orderDetail[id]) === "undefined") {
                vm_header.orderDetail[id] = {
                    "id": id,
                    "name": name,
                    "price": insertPrice,
                    "amount": 1,
                }
                if(picture !== null && picture.length > 0) {
                    vm_header.orderDetail[id]["picture"] = "/static/uploads/" + id + '/' + picture[0];
                } else {
                    vm_header.orderDetail[id]["picture"] = "/static/images/front/product-01.jpg";
                }
            } else {
                vm_header.orderDetail[id]["amount"] += 1;
            }
            swal(name, "已新增到購物車!", {
                icon: "success",
                buttons: false,
                timer: 1000,
            });
        },
        category: function(kind) {
            switch(kind) {
                case 'all':
                    this.categoryTitle = '所有商品';
                    this.kind = 'all';
                    break;
                default:
                    this.categoryTitle = this.$refs["category_" + kind].innerText;
                    this.kind = kind;
                    break;
            }
            this.productPage = 1;
            this.getProduct();
        }
    },
});
const vm_app = vueApp.mount('#app');
</script>
{{end}}