{{define "index/content"}}
<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                <h2 class="head">Featured Products</h2>
                <div class="top-box">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic1.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic2.jpg" alt="" />
                                </div>
                                <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="reducedfrom">$66.00</span>
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="top-box">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic3.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic4.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic5.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="top-box1">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic6.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic7.jpg" alt="" />
                                </div>
                                <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="reducedfrom">$66.00</span>
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="/product/1">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="/static/images/front/pic8.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="rsidebar span_1_of_left">
                <div class="top-border"> </div>
                <div class="border">

                    <script type="text/javascript">
                        $(window).load(function () {
                            $('#slider').nivoSlider();
                        });
                    </script>
                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">
                            <img src="/static/images/front/t-img1.jpg" alt="" />
                            <img src="/static/images/front/t-img2.jpg" alt="" />
                            <img src="/static/images/front/t-img3.jpg" alt="" />
                        </div>
                    </div>
                    <div class="btn"><a href="/product/1">Check it Out</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

{{end}}