<!DOCTYPE HTML>
<html>
<head>
<title>雪國魚沼</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- js -->
<script type="text/javascript" src="/static/vendor/jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/vue.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/linearicons-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/select2/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/MagnificPopup/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/static/css/front/util.css">
<link rel="stylesheet" type="text/css" href="/static/css/front/main.css?{{.staticFreshFlag}}">
<!--===============================================================================================-->
</head>

<body>
<script src="/static/vendor/bootstrap4/js/popper.js"></script>
<script src="/static/vendor/bootstrap4/js/bootstrap.min.js"></script>
<script src="/static/vendor/select2/js/select2.min.js"></script>
<script src="/static/vendor/slick/slick.min.js"></script>
<script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<div id="wrapper">
    
    <div id="header">
        {{ block "index/header" . }}{{end}}
    </div>
    
    <div id="banner">
        {{ block "index/banner" . }}{{end}}
    </div>

    <div id="app">
        {{ block "index/content" . }}{{end}}
    </div>

    {{ block "index/footer" . }}{{end}}
</div>
<script src="/static/js/front/slick-custom.js"></script>
<script src="/static/js/front/main.js"></script>
<script>
$(function(){

    $('.js-pscroll').each(function(){
        $(this).css('position','relative');
        $(this).css('overflow','hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function(){
            ps.update();
        })
    });

    $('.gallery-lb').each(function() { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled:true
            },
            mainClass: 'mfp-fade'
        });
    });
});
</script>
</body>
</html>