{{define "index/content"}}
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container p-5">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                所有商品
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    搜尋
                </div>
            </div>
            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="搜尋" v-model="keyword">
                </div>	
            </div>
        </div>

        <div class="row isotope-grid">
            <template v-if="productLoading">
                <i class='fa fa-spinner fa-spin fa-3x fa-fw'></i>
            </template>
            <template v-else v-for="data in productData">
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35">
                    <div class="block2">
                        <a :href="'/product/' + data.id">
                            <template v-if="data.picture === null">
                                <div class="block2-pic hov-img0" style="background-image:url('/static/images/front/product-01.jpg');"></div>
                            </template>
                            <template v-else>
                                <div class="block2-pic hov-img0" :style="'background-image:url(/static/uploads/'+data.id+'/'+data.picture[0]+');'"></div>
                            </template>
                        </a>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a :href="'/product/' + data.id" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:17px;">
                                    @{ data.name }
                                </a>
                                <span class="stext-105 cl3">
                                    @{ '$' + data.price }
                                </span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="javascript:void(0)" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" @click="addToCart(data.id, data.name, data.price, data.picture)">
                                    <i class="zmdi zmdi-shopping-cart cl2" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a v-if="productPage<productTotalPage" href="javascript:void(0)" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" @click="loadMoreProduct()">更多商品</a>
        </div>
    </div>
</section>
<script>
const vueApp = Vue.createApp({
    delimiters : ["@{", "}"],
    data() {
        return {
            keyword: '',
            productPage: 1,
            productTotalPage: 1,
            productData: [],
            productLoading: true,
            apiCallSuccess: true,
        }
    },
    mounted() {
        this.getProduct();
    },
    watch: {
        keyword: function(){
            this.productPage = 1;
            this.getProduct();
        }
    },
    computed: {
    },
    methods: {
        getProduct: async function() {
            try {
                const response = await axios.get('/api/front/products?page=' + this.productPage + '&keyword=' + this.keyword);
                this.productData = response.data.data;
                this.productTotalPage = Math.ceil(response.data.count/8);
            } catch (error) {
                this.apiCallSuccess = false;
                if (error.response !== undefined) {
                    this.errorMsg = error.response.data.message;
                } else {
                    this.errorMsg = error.message;
                }
            }
            this.productLoading = false;
        },
        loadMoreProduct: async function() {
            this.productPage ++;
            try {
                const response = await axios.get('/api/front/products?page=' + this.productPage);
                if(response.data.data.length > 0) {
                    this.productData = this.productData.concat(response.data.data);
                }
            } catch (error) {
                if (error.response !== undefined) {
                    console.log(error.response.data.message);
                } else {
                    console.log(error.message);
                }
            }
        },
        addToCart: function(id, name, price, picture) {
            if(typeof(vm_header.orderDetail[id]) === "undefined") {
                vm_header.orderDetail[id] = {
                    "id": id,
                    "name": name,
                    "price": price,
                    "amount": 1,
                }
                if(picture !== null && picture.length > 0) {
                    vm_header.orderDetail[id]["picture"] = "/static/uploads/" + id + '/' + picture[0];
                } else {
                    vm_header.orderDetail[id]["picture"] = "/static/images/front/product-01.jpg";
                }
            } else {
                vm_header.orderDetail[id]["amount"] += 1;
            }
            swal(name, "已新增到購物車 !", "success");
        }
    },
});
const vm_app = vueApp.mount('#app');
</script>
{{end}}