<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="panel panel-headline" style="max-width:600px; margin:0 auto;">
        <div class="panel-body" >
            <h3>訂購單</h3><br>
            <form action="/orders/add" method="POST" id="mainFm">

                <div class="form-group">
                    <label for="orders_name"><span style="color:#FF0000;">*</span>姓名:</label>
                    <input type="text" class="form-control" id="orders_name" name="name">
                </div>

                <div class="form-group">
                    <label for="orders_contact"><span style="color:#FF0000;">*</span>聯絡方式:</label>
                    <input type="text" class="form-control" id="orders_contact" name="contact">
                </div>

                <div class="form-group">
                    <label for="">備註:</label>
                    <textarea class="form-control" id="orders_remark" rows="3" name="remark"></textarea>
                </div>

                <hr>
                <h4>訂購商品</h4>
                <button type="button" class="btn btn-success addProductBtn">新增商品</button>
                <input type="hidden" name="detail" id="detail">
                <div class="productsDetailArea" style="margin-bottom: 10px;"></div>

                <div class="form-group">
                    <label><span style="color:#FF0000;">*</span>驗證碼:</label>
                    <canvas width="240" height="60" id="captcha"></canvas>
                </div>

                <input type="number" class="form-control" id="capchaInput" style="width:300px;" placeholder="請輸入驗證碼">

                <button type="button" class="btn btn-success" id="addSubmitBtn" style="margin-top:10px;">確定送出</button>
            </form>
            <div id="lightboxArea"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
var captchaCode = '';
var orderDetail = {};
var select2ClassIndex = 1;
var select2Data = [];
$(function(){
    initSelect2Data();

    let captcha = new CaptchaMini({
        lineWidth: 1,
        lineNum: 3,
        dotR: 2,
        dotNum: 10,
        preGroundColor: [10, 80],
        backGroundColor: [150, 250],
        fontSize: 30,
        fontFamily: ['Georgia', 'Helvetica', 'Arial'],
        fontStyle: 'stroke', // fill & stroke
        content: '0123456789',
        length: 6
    }); 

    captcha.draw(document.querySelector('#captcha'), val => {
        captchaCode = val;
    });

    $('.addProductBtn').click(function(){
        select2ClassIndex++;
        let select2Class = 'add-item-' + select2ClassIndex;
        let amountInputClass = select2Class + '-amount';
        let imageClass = select2Class + '-image';
        let template = getTemplate(select2Class, amountInputClass, imageClass);
        $('.productsDetailArea').append(template);
        $("." + select2Class).select2({
            placeholder: '請輸入商品名稱',
            data: select2Data,
        });
        // 監聽商品名稱變化
        $('.' + select2Class).on('select2:select', function (e) {
            var data = e.params.data;
            let thisClass = e.target.classList[0];
            orderDetail[thisClass] = {"pid": data.id};
            $('a[data-lightbox="'+imageClass+'"]').remove();
            $('.' + imageClass).removeClass("hasPicture");
            if(data.picturesCnt > 0) {
                $('.' + imageClass).addClass("hasPicture");
                loadLightboxImages(data.id, imageClass);
            }
        });
    });

    $('#addSubmitBtn').click(function(){
        let require = [
            {el: '#orders_name', tip: '訂購人姓名為必填'},
            {el: '#orders_contact', tip: '聯絡方式為必填'},
        ];

        for (const key in require) {
            if($(require[key].el).val().length == 0) {
                alert(require[key].tip);
                $(require[key].el).focus();
                return false;
            }
        }

        if(Object.keys(orderDetail).length <= 0) {
            alert('請填寫商品資訊');
            return false;
        }

        for (const select2Class in orderDetail) {
            let amount = $('.'+select2Class+'-amount').val();
            orderDetail[select2Class]["amount"] = amount;
            if(amount == "" || amount == "0") {
                alert('請輸入商品數量');
                $('.' + select2Class + '-amount').focus();
                return false;
            }
        }
        $('#detail').val(JSON.stringify(orderDetail));

        if($('#capchaInput').val().length == 0) {
            alert('驗證碼為必填');
            $('#capchaInput').focus();
            return false;
        }
        if($('#capchaInput').val() !== captchaCode) {
            alert('驗證碼錯誤!');
            $('#captcha').click()
            $('#capchaInput').focus();
            return false;
        }
        $('#mainFm').submit()
    });
});

function showLightBox(imgClass)
{
    $('a[data-lightbox="'+imgClass+'"]').eq(0).click();
}

function loadLightboxImages(pid, imgClass)
{
    $.ajax({
        type: 'GET',
        url: '/api/products/getPictures?pid=' + pid,
        dataType: 'json',
        success: function (result, statusText, xhr) {
            console.log(result);
            html = '';
            if(result.data.length > 0) {
                for(i=0; i< result.data.length; i++) {
                    html += `
                        <a href="/api/products/showPicture/`+result.data[i].id+`"
                        data-lightbox="`+ imgClass +`"></a>`;
                }
                $('#lightboxArea').append(html);
            }
        },
        error: function (thrownError) {
            console.log(thrownError);
        }
    });
}

async function initSelect2Data(){
    try {
        const response = await axios.get('/api/products/getProductsNameList');
        select2Data = response.data.results;
    } catch (error) {
        console.log(error);
    }
}


function getTemplate(select2Class, amountInputClass, imageClass)
{
    let template = `
    <div id="`+select2Class+`-group" style="display:flex; align-items: center;margin-top:5px;">
        <i class="fa-sharp fa-solid fa-trash" onclick="delGroup(this)" data-group="`+select2Class+`" style="cursor:pointer; color:#ff5151;margin-right:5px;"></i>
        <i class="fa-regular fa-image `+imageClass+`" title="查看圖片" onclick="showLightBox('`+imageClass+`')" style="margin-right:5px;"></i>
        <select class="`+select2Class+`" style="width:100%;">
            <option value="">請選擇商品</option>
        </select>
        <input type="number" min="1" class="form-control `+amountInputClass+`" style="width:100px;margin-left:5px;" placeholder="數量">
    </div>`;
    return template;
}

function delGroup(obj) {
    let group = $(obj).attr("data-group");
    delete orderDetail[group];
    $('#' + group + "-group").remove();
    $('a[data-lightbox="'+group+'-image"]').remove();
}
</script>
{{end}}