<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">存貨分析</h3>
      <div class="panel panel-headline">
        <div class="panel-body">
            <!-- select2 -->
            <div>
                <span>資料區間:</span>
                <select class="select2-month" style="width:300px;">
                    <option value="1">一個月內</option>
                    <option value="2">二個月內</option>
                    <option value="3">三個月內</option>
                    <option value="4">四個月內</option>
                    <option value="5">五個月內</option>
                    <option value="6">六個月內</option>
                    <option value="12">一年內</option>
                </select>
            </div>
            <div style="margin: 10px 0px;">
                <span>商品名稱:</span>
                <select class="select2-main" style="width:300px;">
                    <!-- <option></option> -->
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-success" style="margin-top:5px;" onclick="exportCsv('single')">匯出此商品 csv</button>
                <button type="button" class="btn btn-success" style="margin-top:5px;" onclick="exportCsv('all')">匯出全部商品 csv</button>
            </div>

            <!-- chartJS -->
            <div style="margin-top:15px;">
                <div id="loading">
                    <i class='fa fa-spinner fa-spin' style='font-size:30px;'></i>
                </div>
                <canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
var myChart;
var month = 1;
var nowPid;
var nowPname;
$(function(){
    initSelect2();
    // 監聽選擇月份變化
    $('.select2-month').on('select2:select', function (e) {
        var data = e.params.data;
        month = data.id;
        updateChart(nowPid, nowPname)
    });

    // 監聽商品名稱變化
    $('.select2-main').on('select2:select', function (e) {
        var data = e.params.data;
        nowPid = data.id;
        nowPname = data.text;
        updateChart(nowPid, nowPname)
    });
});

async function initSelect2(){
    $('.select2-month').select2();
    try {
        const response = await axios.get('/api/products/getProductsNameList');
        results = response.data.results;
        $(".select2-main").select2({
            placeholder: '請輸入商品名稱',
            data: results,
        });
        
        if(results.length > 0) {
            nowPid = results[0].id;
            nowPname = results[0].text;
            initChart(nowPid, nowPname);
        }
    } catch (error) {
        console.log(error);
    }
}

async function initChart(pid, pname){
    $('#loading').css("display", "block");
    $('#myChart').css("opacity", "0");
    results = await getProductLog(pid); // 取得 log
    console.log(results);

    myChart = new Chart($('#myChart'), {
        type: 'bar',
        data: {
            labels: results["x_values"],
            datasets: [
                {
                    label: pname,
                    data: results["y_values"],
                    borderWidth: 1,
                },
            ]
        },
        options: {
            title:{
                display:true,
                text:'test',
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    $('#loading').css("display", "none");
    $('#myChart').css("opacity", "1");
}

// 取得資料
async function getProductLog(pid)
{
    var results = {
        "x_values":[],
        "y_values":[],
    };
    try {
        const response = await axios.get('/api/products/getProductsLog', {
            params:{
                pid: pid,
                month: month,
            }
        });
        if(response.data.data.x_Value!==undefined) {
            results["x_values"] = response.data.data.x_Value;
        }
        if(response.data.data.x_Value!==undefined) {
            results["y_values"] = response.data.data.y_Value;
        }
    } catch (error) {
        console.log(error);
    }
    return results;
}

async function updateChart(pid, pname){
    $('#loading').css("display", "block");
    $('#myChart').css("opacity", "0");
    results = await getProductLog(pid); // 取得 log
    myChart.data.labels = results["x_values"];
    myChart.data.datasets[0].data = results["y_values"];
    myChart.data.datasets[0].label = pname;
    myChart.update();
    $('#loading').css("display", "none");
    $('#myChart').css("opacity", "1");
}

function exportCsv(mode) {
    if(mode=='single') {
        window.open("/api/products/export?mode=single&pid=" + nowPid + "&month=" + month);
    } else {
        window.open("/api/products/export?mode=all" + "&month=" + month);
    }
}

</script>
{{end}}