<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">訂單管理</h3>
      <div class="panel panel-headline">
        <div class="panel-body">
            <button type="button" id="addOrderBtn" class="btn btn-primary" style="margin-bottom: 10px;">新增訂單</button>
            <!-- data table -->
            <table id="orderTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <th>姓名</th>
                    <th>聯絡方式</th>
                    <th>總價</th>
                    <th>商品資訊</th>
                    <th>配送地址</th>
                    <th>備註</th>
                    <th>訂購時間</th>
                    <th></th>
                </thead>
                <tfoot>
                    <th>姓名</th>
                    <th>聯絡方式</th>
                    <th>總價</th>
                    <th>商品資訊</th>
                    <th>配送地址</th>
                    <th>備註</th>
                    <th>訂購時間</th>
                    <th></th>
                </tfoot>
            </table>
            <div id="lightboxArea"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
var orderTable;
var orderDetail = {};
var select2ClassIndex = 1;
var select2Data = [];
$(function(){
    // init
    orderTable = initOrdersTable();
    initSelect2Data();

    $('#addOrderBtn').click(function(){
        resetModal('add');
        $('#orderAddModal').modal('show');
    });

    $('.addProductBtn').click(function(){
        let type = $(this).attr("data-type");
        select2ClassIndex++;
        let select2Class = type +'-item-' + select2ClassIndex;
        let amountInputClass = select2Class + '-amount';
        let imageClass = select2Class + '-image';
        let priceClass = select2Class + '-price';
        // 產生模板
        let template = getTemplate(select2Class, amountInputClass, imageClass, priceClass);
        $('.productsDetailArea[data-type="'+type+'"]').append(template);
        // 監聽input變化
        $('.' + amountInputClass).on("input", function() {
            total = handlerTotalPrice();
            $('#' + type + 'Total').html(total);
        });
        $("." + select2Class).select2({
            placeholder: '請輸入商品名稱',
            data: select2Data,
        });
        // 監聽商品名稱變化
        $('.' + select2Class).on('select2:select', function (e) {
            var data = e.params.data;
            console.log(data);
            let thisClass = e.target.classList[0];
            orderDetail[thisClass] = {"pid": data.id, "price": data.price};
            $('a[data-lightbox="'+imageClass+'"]').remove();
            $('.' + imageClass).removeClass("hasPicture");
            if(data.picturesCnt > 0) {
                $('.' + imageClass).addClass("hasPicture");
                loadLightboxImages(data.id, imageClass);
            }
            $('#' + priceClass).html('單價: $' + data.price);
            // 計算總價
            total = handlerTotalPrice();
            $('#' + type + 'Total').html(total);
        });
    });
});

function handlerTotalPrice() {
    total = 0;
    for (const index in orderDetail) {
        let amount = parseInt($('.' + index + '-amount').val());
        if(amount !== undefined && !isNaN(amount)) {
            total += amount * orderDetail[index].price; 
        }
    }
    return total;
}

function getTemplate(select2Class, amountInputClass, imageClass, priceClass)
{
    let template = `
    <div id="`+select2Class+`-group" style="display:flex; align-items: center;margin-top:5px;">
        <i class="fa-sharp fa-solid fa-trash" onclick="delGroup(this)" data-group="`+select2Class+`" style="cursor:pointer; color:#ff5151;margin-right:5px;"></i>
        <i class="fa-regular fa-image `+imageClass+`" title="查看圖片" onclick="showLightBox('`+imageClass+`')" style="margin-right:5px;"></i>
        <select class="`+select2Class+`" style="width:100%;">
            <option value="">請選擇商品</option>
        </select>
        <span style="white-space:nowrap; margin:0 5px;" id="`+priceClass+`"></span>
        <input type="number" min="1" class="form-control `+amountInputClass+`" style="width:100px;margin-left:5px;" placeholder="數量">
    </div>`;
    return template;
}

function showLightBox(imgClass)
{
    $('a[data-lightbox="'+imgClass+'"]').eq(0).click();
}

function loadLightboxImages(pid, imgClass)
{
    $.ajax({
        type: 'GET',
        url: '/api/products/getPictures?pid=' + pid,
        dataType: 'json',
        success: function (result, statusText, xhr) {
            console.log(result);
            html = '';
            if(result.data.length > 0) {
                for(i=0; i< result.data.length; i++) {
                    html += `
                    <a href="/static/uploads/`+result.data[i].pid+`/`+result.data[i].picture+`"
                        data-lightbox="`+ imgClass +`"></a>`;
                }
                $('#lightboxArea').append(html);
            }
        },
        error: function (thrownError) {
            console.log(thrownError);
        }
    });
}

function delGroup(obj) {
    let group = $(obj).attr("data-group");
    let type = group.split("-")[0];
    delete orderDetail[group];
    $('#' + group + "-group").remove();
    $('a[data-lightbox="'+group+'-image"]').remove();
    total = handlerTotalPrice();
    $('#' + type + 'Total').html(total);
}

async function initSelect2Data(){
    try {
        const response = await axios.get('/api/products/getProductsNameList');
        select2Data = response.data.results;
    } catch (error) {
        console.log(error);
    }
}

function doInsert()
{
    let require = [
        {el: '#modal_add_name', tip: '訂購人姓名為必填'},
        {el: '#modal_add_contact', tip: '聯絡方式為必填'},
        {el: '#modal_add_address', tip: '配送地址為必填'},
    ];
    for (const key in require) {
       if($(require[key].el).val().length == 0) {
            alert(require[key].tip);
            $(require[key].el).focus();
            return false;
       }
    }

    if(Object.keys(orderDetail).length <= 0) {
        alert('請填寫商品資訊');
        return false;
    }

    for (const select2Class in orderDetail) {
        let amount = $('.'+select2Class+'-amount').val();
        orderDetail[select2Class]["amount"] = amount;
        if(amount == "" || amount == "0") {
            alert('請輸入商品數量');
            $('.' + select2Class + '-amount').focus();
            return false;
        }
    }
    console.log(orderDetail);
    $.ajax({
        type: 'POST',
        url: '/api/orders/add',
        dataType: 'json',
        data: { 
            name: $('#modal_add_name').val(),
            contact: $('#modal_add_contact').val(),
            address: $('#modal_add_address').val(),
            remark: $('#modal_add_remark').val(),
            detail: JSON.stringify(orderDetail),
        },
        beforeSend: function(){
            $('#addSubmitBtn').prop("disabled", true);
            $('#addSubmitBtn').html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
        },
        success: function (result, statusText, xhr) {
            $('#productAddModal').modal('hide');
            alert('新增成功');
            orderTable.ajax.reload(null, false);
        },
        error: function (err) {
            alert('新增失敗')
            console.log(err);
        },
        complete: function(){
            $('#addSubmitBtn').prop("disabled", false);
            $('#addSubmitBtn').html("新增")
            resetModal('add');
            $('#orderAddModal').modal('hide');
        }
    });
}

function modifyOrder(id)
{
    resetModal('edit');
    $('#modal_edit_id').val(id);
    $.ajax({
        type: 'GET',
        url: '/api/orders/' + id,
        dataType: 'json',
        success: function (result, statusText, xhr) {
            if(result.data.detail !== null && result.data.detail !== undefined) {
                for (const key in result.data.detail) {
                    select2ClassIndex++;
                    let select2Class = 'edit-item-' + select2ClassIndex;
                    let amountInputClass = select2Class + '-amount';
                    let imageClass = select2Class + '-image';
                    let priceClass = select2Class + '-price';
                    // 產生模板
                    let template = getTemplate(select2Class, amountInputClass, imageClass, priceClass);
                    $('.productsDetailArea[data-type="edit"]').append(template);
                    // 監聽input變化
                    $('.' + amountInputClass).on("input", function() {
                        total = handlerTotalPrice();
                        $('#editTotal').html(total);
                    });
                    $("." + select2Class).select2({
                        placeholder: '請輸入商品名稱',
                        data: select2Data,
                    });
                    // 監聽商品名稱變化
                    $('.' + select2Class).on('select2:select', function (e) {
                        var data = e.params.data;
                        let thisClass = e.target.classList[0];
                        orderDetail[thisClass] = {"pid": data.id, "price": data.price};
                        $('a[data-lightbox="'+imageClass+'"]').remove();
                        $('.' + imageClass).removeClass("hasPicture");
                        if(data.picturesCnt > 0) {
                            $('.' + imageClass).addClass("hasPicture");
                            loadLightboxImages(data.id, imageClass);
                        }
                        total = handlerTotalPrice();
                        $('#editTotal').html(total);
                    });
                    // 賦值
                    orderDetail[select2Class] = {
                        "pid": result.data.detail[key].pid, 
                        "price": result.data.detail[key].price, 
                        "amount": result.data.detail[key].amount,
                    };
                    $('.' + select2Class).val(result.data.detail[key].pid).trigger('change');
                    $('.'+amountInputClass).val(result.data.detail[key].amount);
                    $('#' + priceClass).html('單價: $' + result.data.detail[key].price);
                    for(i=0; i<select2Data.length; i++) {
                        if(select2Data[i].id == result.data.detail[key].pid) {
                            if(select2Data[i].picturesCnt > 0) {
                                $('.' + imageClass).addClass("hasPicture");
                                loadLightboxImages(select2Data[i].id, imageClass);
                            }
                            break;
                        }
                    }
                }
                total = handlerTotalPrice();
                $('#editTotal').html(total);
            }
            $('#orderEditModal').modal('show');
            $('#modal_edit_name').val(result.data.name);
            $('#modal_edit_contact').val(result.data.contact);
            $('#modal_edit_address').val(result.data.address);
            $('#modal_edit_remark').val(result.data.remark);
        },
        error: function (thrownError) {
            console.log(thrownError);
        }
    });
}

function doEdit()
{
    let require = [
        {el: '#modal_edit_name', tip: '訂購人姓名為必填'},
        {el: '#modal_edit_contact', tip: '聯絡方式為必填'},
        {el: '#modal_edit_address', tip: '配送地址為必填'},
    ];
    for (const key in require) {
       if($(require[key].el).val().length == 0) {
            alert(require[key].tip);
            $(require[key].el).focus();
            return false;
       }
    }

    if(Object.keys(orderDetail).length <= 0) {
        alert('請填寫商品資訊');
        return false;
    }

    for (const select2Class in orderDetail) {
        let amount = $('.'+select2Class+'-amount').val();
        orderDetail[select2Class]["amount"] = amount;
        if(amount == "" || amount == "0") {
            alert('請輸入商品數量');
            $('.' + select2Class + '-amount').focus();
            return false;
        }
    }
    console.log(orderDetail);
    $.ajax({
        type: 'PATCH',
        url: '/api/orders/edit',
        dataType: 'json',
        data: { 
            id: $('#modal_edit_id').val(),
            name: $('#modal_edit_name').val(),
            contact: $('#modal_edit_contact').val(),
            address: $('#modal_edit_address').val(),
            remark: $('#modal_edit_remark').val(),
            detail: JSON.stringify(orderDetail),
        },
        beforeSend: function(){
            $('#editSubmitBtn').prop("disabled", true);
            $('#editSubmitBtn').html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
        },
        success: function (result, statusText, xhr) {
            $('#orderEditModal').modal('hide');
            alert('修改成功');
            orderTable.ajax.reload(null, false);
        },
        error: function (err) {
            $('#orderEditModal').modal('hide');
            console.log(err);
            if(err.responseJSON.msg.Message !== undefined) {
                alert("修改失敗!\nerror: " + err.responseJSON.msg.Message)
            } else if(err.responseJSON.msg !== undefined) {
                alert(err.responseJSON.msg)
            } else {
                alert('修改失敗')
            }
            console.log(err);
        },
        complete: function(){
            $('#editSubmitBtn').prop("disabled", false);
            $('#editSubmitBtn').html("修改")
        }
    });
}

function doDelete(obj, id)
{
    if(confirm("確定刪除?")) {
        $.ajax({
            type: 'DELETE',
            url: '/api/orders/' + id,
            dataType: 'json',
            beforeSend: function(){
                $(obj).prop("disabled", true);
                $(obj).html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
            },
            success: function (result, statusText, xhr) {
                alert('刪除成功');
                orderTable.ajax.reload(null, false);
            },
            error: function (err) {
                if(err.responseJSON.msg.Message !== undefined) {
                    alert("刪除失敗!\nerror: " + err.responseJSON.msg.Message)
                } else if(err.responseJSON.msg !== undefined) {
                    alert(err.responseJSON.msg)
                } else {
                    alert('刪除失敗')
                }
                console.log(err);
            },
            complete: function(){
                $(obj).prop("disabled", false);
                $(obj).html("刪除產品")
            }
        });
    }
}

function resetModal(type) {
    orderDetail = {};
    $('#lightboxArea').html('');
    $('.productsDetailArea').html('');
    select2ClassIndex = 1;
    if(type=='add') {
        var require = [
            '#modal_add_name',
            '#modal_add_contact',
            '#modal_add_address',
            '#modal_add_remark',
        ];
    } else {
        var require = [
            '#modal_edit_name',
            '#modal_edit_contact',
            '#modal_edit_address',
            '#modal_edit_remark',
        ];
    }
    for (const key in require) {
        $(require[key]).val("");
    }
}
</script>
{{end}}