<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">存貨管理</h3>
      <div class="panel panel-headline">
        <div class="panel-body">
            <button type="button" id="addProductBtn" class="btn btn-primary" style="margin-bottom: 10px;">新增產品</button>
            <button type="button" id="sortProductBtn" class="btn btn-primary" style="margin-bottom: 10px;">調整排序</button>
            <!-- data table -->
            <table id="productTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <th>產品名稱</th>
                    <th>數量</th>
                    <th>存貨警戒線</th>
                    <th>價格</th>
                    <th>產品類別</th>
                    <th>更新時間</th>
                    <th></th>
                </thead>
                <tfoot>
                    <th>產品名稱</th>
                    <th>數量</th>
                    <th>存貨警戒線</th>
                    <th>價格</th>
                    <th>產品類別</th>
                    <th>更新時間</th>
                    <th></th>
                </tfoot>
            </table>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
var  productTable;
var keyword = '{{.keyword}}';
$(function(){
    // init
    productTable = initProductTable(keyword);

    $('#addProductBtn').click(function(){
        $('#productAddModal').modal('show');
    });

    $('#sortProductBtn').click(function(){
        $.ajax({
            type: 'GET',
            url: '/api/products/getProductsNameList?simple=Y',
            dataType: 'json',
            success: function (response, statusText, xhr) {
                results = response.results;
                output = '';
                if(results.length > 0) {
                    for(i=0; i<results.length; i++) {
                        output += `<div class="list-group-item" data-id="`+results[i].id+`">
                            <i class="fa-solid fa-sort"></i>
                            <span style="margin-left:3px;">`+results[i].text+`</span>
                            <div style="float:right;">
                                <i class="fa-solid fa-arrow-up" onclick="move(this, 'up')" style="margin-right:5px;cursor: pointer;"></i>
                                <i class="fa-solid fa-arrow-down" onclick="move(this, 'down')" style="cursor: pointer;"></i>
                            </div>
                        </div>`;
                    }
                }
                $('#sortItems').html(output);
            },
            error: function (thrownError) {
                console.log(thrownError);
            },
        });
        $('#productSortModal').modal('show');
        var el = $('#sortItems')[0]
        new Sortable( el, {
            animation: 150,
            ghostClass: 'blue-background-class'
        });
    });

});

function amountHandler(action, id)
{
    let amount = parseInt($('.amountInput[data-id="'+id+'"]').val());
    if(!isNaN(amount)) {
        switch(action) {
            case "sub":
                if(amount > 1) {
                    amount = amount - 1;
                }
                break;
            case "add":
                amount = amount + 1;
                break;
        }
        $('.amountInput[data-id="'+id+'"]').each(function(){
            $(this).val(amount);
        });
    }
}

function checkInput(id)
{
    let amount = parseInt($('.amountInput[data-id="'+id+'"]').val());
    if($('.amountInput[data-id="'+id+'"]').val() !== "") {
        if(isNaN(amount)) {
            $('.amountInput[data-id="'+id+'"]').val('');
        }
    }
}

function updateAmount(obj, id)
{
    $.ajax({
        type: 'PUT',
        url: '/api/products/updateAmount',
        dataType: 'json',
        data: { 
            id: id,
            amount: $('.amountInput[data-id="'+id+'"]').val()
        },
        beforeSend: function(){
            $('.statusIcon').css("display", "none");
            $('.msgItem').css("display", "none");
            $('.mdfBtn_'+id).css("display", "none");
            $('.loading_'+id).css("display", "block");
        },
        success: function (result, statusText, xhr) {
            $('.success_'+id).css("display", "block");
            $('.success_'+id).fadeOut(3000);
            setTimeout(() => {
                productTable.ajax.reload(null, false);
            }, 1000);
        },
        error: function (err) {
            $('.msgItem').css("display", "block");
            if(err.responseJSON.msg.Message !== undefined) {
                $('.msg_'+id).html("修改失敗!" + err.responseJSON.msg.Message);
            } else if(err.responseJSON.msg !== undefined) {
                $('.msg_'+id).html(err.responseJSON.msg);
            } else {
                $('.msg_'+id).html("修改失敗!");
            }
            $('.failed_'+id).css("display", "block");
            $('.failed_'+id).fadeOut(3000);
            $('.msgItem').fadeOut(3000);
        },
        complete: function(){
            console.log('complete');
            $('.mdfBtn_'+id).css("display", "block");
            $('.loading_'+id).css("display", "none");
        }
    });
}

function doInsert()
{
    let name = $('#modal_name').val();
    let amount = $('#modal_amount').val();
    let price = $('#modal_price').val();
    if(name.length == 0) {
        alert('產品名稱為必填');
        $('#modal_name').focus();
        return false;
    }
    if(amount.length == 0) {
        alert('產品數量為必填');
        $('#modal_amount').focus();
        return false;
    }
    if(price.length == 0) {
        alert('產品價格為必填');
        $('#modal_price').focus();
        return false;
    }
    $.ajax({
        type: 'POST',
        url: '/api/products/add',
        dataType: 'json',
        data: { 
            name: name,
            amount: amount,
            amount_notice: $('#modal_amount_notice').val(),
            type: $('#modal_type').val(),
            price: price,
            content: $('#modal_content').val(),
        },
        beforeSend: function(){
            $('#addSubmitBtn').prop("disabled", true);
            $('#addSubmitBtn').html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
        },
        success: function (result, statusText, xhr) {
            $('#productAddModal').modal('hide');
            alert('新增成功');
            productTable.ajax.reload(null, false);
        },
        error: function (err) {
            alert('新增失敗')
            console.log(err);
        },
        complete: function(){
            $('#addSubmitBtn').prop("disabled", false);
            $('#addSubmitBtn').html("新增")
        }
    });
}

function modifyProduct(id)
{
    $('#productEditModal').modal('show');
    $.ajax({
        type: 'GET',
        url: '/api/products/' + id,
        dataType: 'json',
        success: function (result, statusText, xhr) {
            $('#modal_edit_id').val(result.data.id);
            $('#modal_edit_name').val(result.data.name);
            $('#modal_edit_amount').val(result.data.amount);
            $('#modal_edit_price').val(result.data.price);
            $('#modal_edit_type').val(result.data.type);
            $('#modal_edit_content').val(result.data.content);
            if(result.data.amountNotice == 0) {
                $('#modal_edit_amount_notice').val('');
            } else {
                $('#modal_edit_amount_notice').val(result.data.amountNotice);
            }
        },
        error: function (thrownError) {
            console.log(thrownError);
        },
    });
    
}

function doEdit()
{
    let name = $('#modal_edit_name').val();
    let amount = $('#modal_edit_amount').val();
    if(name.length == 0) {
        alert('產品名稱為必填');
        $('#modal_edit_name').focus();
        return false;
    }
    if(amount.length == 0) {
        alert('產品數量為必填');
        $('#modal_edit_amount').focus();
        return false;
    }
    if($('#modal_edit_price').val().length == 0) {
        alert('產品價格為必填');
        $('#modal_edit_price').focus();
        return false;
    }
    $.ajax({
        type: 'PATCH',
        url: '/api/products/edit',
        dataType: 'json',
        data: { 
            id: $('#modal_edit_id').val(),
            name: name,
            amount: amount,
            amount_notice: $('#modal_edit_amount_notice').val(),
            type: $('#modal_edit_type').val(),
            price: $('#modal_edit_price').val(),
            content: $('#modal_edit_content').val(),
        },
        beforeSend: function(){
            $('#editSubmitBtn').prop("disabled", true);
            $('#editSubmitBtn').html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
        },
        success: function (result, statusText, xhr) {
            $('#productEditModal').modal('hide');
            alert('修改成功');
            productTable.ajax.reload(null, false);
        },
        error: function (err) {
            $('#productEditModal').modal('hide');
            if(err.responseJSON.msg.Message !== undefined) {
                alert("修改失敗!\nerror: " + err.responseJSON.msg.Message)
            } else if(err.responseJSON.msg !== undefined) {
                alert(err.responseJSON.msg)
            } else {
                alert('修改失敗')
            }
            console.log(err);
        },
        complete: function(){
            $('#editSubmitBtn').prop("disabled", false);
            $('#editSubmitBtn').html("修改")
        }
    });
}

function doDelete(obj, id)
{
    if(confirm("確定刪除?")) {
        $.ajax({
            type: 'DELETE',
            url: '/api/products/delete/' + id,
            dataType: 'json',
            beforeSend: function(){
                $(obj).prop("disabled", true);
                $(obj).html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
            },
            success: function (result, statusText, xhr) {
                alert('刪除成功');
                productTable.ajax.reload(null, false);
            },
            error: function (err) {
                if(err.responseJSON.msg.Message !== undefined) {
                    alert("刪除失敗!\nerror: " + err.responseJSON.msg.Message)
                } else if(err.responseJSON.msg !== undefined) {
                    alert(err.responseJSON.msg)
                } else {
                    alert('刪除失敗')
                }
                console.log(err);
            },
            complete: function(){
                $(obj).prop("disabled", false);
                $(obj).html("刪除產品")
            }
        });
    }
}

function imagesManage(pid) {
    location.href = "/admin/product/pic/" + pid;
}

function SaveSort() {
    let sortArr = [];
    $('#sortItems').children().each(function(){
        sortArr.push($(this).attr("data-id"))
    });
    sortArr = sortArr.join(",");

    $.ajax({
        type: 'POST',
        url: '/api/products/sort',
        dataType: 'json',
        data: {
            sortArr: sortArr
        },
        beforeSend: function(){
            $('#saveSortBtn').prop("disabled", true);
            $('#saveSortBtn').html("<i class='fa fa-spinner fa-spin' style='font-size:12px;'></i>")
        },
        success: function (result, statusText, xhr) {
            $('#productSortModal').modal('hide');
            alert('排序成功');
            productTable.ajax.reload(null, false);
        },
        error: function (err) {
            alert('排序失敗')
            console.log(err);
        },
        complete: function(){
            $('#saveSortBtn').prop("disabled", false);
            $('#saveSortBtn').html("儲存排序")
        }
    });
}

function move(obj, action)
{
    switch(action) {
        case "up":
            if($(obj).parent().parent().prev().length > 0) {
                let index = $(obj).parent().parent().index();
                tempHTML = $('.list-group-item').eq(index-1)[0].outerHTML;
                $('.list-group-item').eq(index-1)[0].outerHTML = $('.list-group-item').eq(index)[0].outerHTML;
                $('.list-group-item').eq(index)[0].outerHTML = tempHTML;
            }
            break;
        case "down":
            if($(obj).parent().parent().next().length > 0) {
                let index = $(obj).parent().parent().index();
                tempHTML = $('.list-group-item').eq(index+1)[0].outerHTML;
                $('.list-group-item').eq(index+1)[0].outerHTML = $('.list-group-item').eq(index)[0].outerHTML;
                $('.list-group-item').eq(index)[0].outerHTML = tempHTML;
            }
            break;
    }
}
</script>
{{end}}