<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">存貨管理</h3>
      <div class="panel panel-headline">
        <div class="panel-body">
            <button type="button" id="addProductBtn" class="btn btn-primary" style="margin-bottom: 10px ;" @click="showModal()">新增產品</button>
            <!-- data table -->
            <table id="productTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"></table>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
const app = Vue.createApp({
    data() {
        return {
           
        }
    },
    mounted() {
       
    },
    watch: {
    },
    computed: {
    },
    methods: {
        showModal: function() {
            $('#productModal').modal('show');
        }
    },
});
const vm = app.mount('#app');
</script>
{{end}}