<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">圖片管理 - {{.pname}}</h3>
      <div class="panel panel-headline">
        <div class="panel-body">
            <div style="display: flex; align-items:center;margin-bottom: 10px;">
                <button type="button" id="addImageBtn" class="btn btn-primary">新增圖片</button>
                <span id="addImageMsg" style="margin-left:10px;"></span>
            </div>
            <button type="button" class="btn btn-success" id="doUploadBtn" style="display:none;margin:10px 0px;">上傳</button>

            <input type="file" multiple="multiple" id="filesInput" accept=".jpg,.jpeg,.png,.gif" style="display:none">
            <!-- data table -->
            <table id="productsPicTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <th>流水號</th>
                    <th>圖片</th>
                    <th>更新時間</th>
                    <th></th>
                </thead>
                <tfoot>
                    <th>流水號</th>
                    <th>圖片</th>
                    <th>更新時間</th>
                    <th></th>
                </tfoot>
            </table>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
var productsPicTable;
var pid = '{{.pid}}';
$(function(){
    // init
    productsPicTable = initPorductsPicTable(pid);

    $('#addImageBtn').click(function(){
        $('#filesInput').click();
    });

    $('#filesInput').on('change', function(){
        let len = $('#filesInput')[0].files.length;
        $('#doUploadBtn').css("display", "none");
        $('#addImageMsg').css("display", "none");
        $('#addImageMsg').html('');
        if(len > 0) {
            $('#doUploadBtn').css("display", "block");
            $('#addImageMsg').css("display", "block");
            $('#addImageMsg').html("已選擇" + $('#filesInput')[0].files.length + "個檔案");
        }
    });

    $('#doUploadBtn').click(function(){
        var formData = new FormData();
        formData.append("pid", pid)
        for(i=0; i < $('#filesInput')[0].files.length; i++) {
            formData.append("files[]", $('#filesInput')[0].files[i])
        }
        $.ajax({
            type: 'POST',
            url: '/api/products/uploadsPic',
            dataType: 'text',
            data: formData,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            beforeSend: function(){
                $('#addImageMsg').html(`<i class='fa fa-spinner fa-spin' style='font-size:20px;'></i>上傳中..`);
                $('#doUploadBtn').css("display", "none");
            },
            success: function (result, statusText, xhr) {
                $('#addImageMsg').html(`上傳成功`);
            },
            error: function (thrownError) {
                $('#addImageMsg').html(`上傳失敗`);
            },
            complete: function(){
                $('#addImageMsg').fadeOut(3000);
                productsPicTable.ajax.reload(null, false);
            },
        });
        $('#filesInput').val('');
    })
});

function modify(id, pid, picture)
{
    $('#modal_edit_id').val(id);
    $('#nowPicture').attr("src", "/static/uploads/" + pid + "/" + picture);
    $('#picEditModal').modal("show");
}

function doEdit() 
{
    if($('#editFileInput')[0].files.length <= 0) {
        alert('請選擇檔案');
        $('#editFileInput').focus();
        return false;
    }
    var formData = new FormData();
    formData.append("edit_id", $('#modal_edit_id').val());
    formData.append("file", $('#editFileInput')[0].files[0]);
    $.ajax({
        type: 'PUT',
        url: '/api/products/updatePic',
        dataType: 'json',
        data: formData,
        processData: false, // 告诉jQuery不要去处理发送的数据
        contentType: false, // 告诉jQuery不要去设置Content-Type请求头
        success: function (result, statusText, xhr) {
            alert('修改成功');
        },
        error: function (thrownError) {
            alert('修改失敗');
        },
        complete: function(){
            $('#picEditModal').modal("hide");
            productsPicTable.ajax.reload(null, false);
        },
    });   
}


function doDelete(id) 
{
    if(confirm("確定刪除?")){
        $.ajax({
            type: 'DELETE',
            url: '/api/products/deletePic/' + id,
            dataType: 'json',
            success: function (result, statusText, xhr) {
                alert('刪除成功');
            },
            error: function (thrownError) {
                alert('刪除失敗');
            },
            complete: function(){
                productsPicTable.ajax.reload(null, false);
            },
        });  
    }
}
</script>
{{end}}