<!--引入共用模板-->
{{ template "layout.html" .}}
{{ define "content" }}
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">設定</h3>
      <div class="panel panel-headline">
        <div class="panel-body">
            <h3>修改密碼</h3>
            <form action="/admin/setting/updatePassword" method="POST" id="mainFm">
                <div class="form-inline">
                    <label for="modal_name">新密碼:</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <i class="fa-solid fa-eye" style="color:#a5a5a5;cursor:pointer;" data-el="password"></i>
                </div>
                <div class="form-inline" style="margin-top: 10px;">
                    <label for="modal_name">再次輸入新密碼:</label>
                    <input type="password" class="form-control" id="password2">
                    <i class="fa-solid fa-eye" style="color:#a5a5a5;cursor:pointer;" data-el="password2"></i>
                </div>
                <button type="button" class="btn btn-primary" onclick="updatePassword()">修改</button>
            </form>
            <hr>
            <h3>Line Notify</h3>
            {{ if .isBind }}
            <img src="/static/images/btn_base.png">
            <h5>已綁定</h5>
            {{ else}}
            <a href="{{.lineUrl}}">
                <div style="background-image: url('/static/images/btn_login_base.png'); width:94px;height:44px;position: relative;">
                    <span style="font-size:20px;line-height:20px; color:#FFFFFF; position:absolute; right:5px;top:12px;">綁定</span>
                </div>
            </a>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

<script>
$(function(){
    $('.fa-eye').on('click', function(){
        el = $(this).attr("data-el");
        if($(this).css("color") == "#000000" || $(this).css("color") == 'rgb(0, 0, 0)') {
            $(this).css("color", "#a5a5a5")
            $('#'+el).attr("type", "password");
        } else {
            $(this).css("color", "#000000")
            $('#'+el).attr("type", "text");
        }
    });
});

function updatePassword() {
    if($('#password').val().length == 0) {
        alert('請輸入密碼');
        $('#password').focus();
        return false;
    }
    if($('#password2').val().length == 0) {
        alert('請再次輸入密碼');
        $('#password2').focus();
        return false;
    }
    if($('#password').val() !== $('#password2').val()) {
        alert('密碼不相符');
        $('#password').val('');
        $('#password2').val('');
        $('#password').focus();
        return false;
    } 
    $('#mainFm').submit();
}
</script>
{{end}}