{{define "layout/header"}}
<nav class="navbar navbar-default navbar-fixed-top">
    <div style="display: flex;justify-content: space-between;align-items: center;padding: 0 15px;">
        <div>
            <a href="/admin">
                <div style="display: flex; align-items: center">
                    <img src="/static/images/logo.jpg" alt="Klorofil Logo" style="height: 20px; margin-right: 3px"
                        class="img-responsive logo" />
                    <div style="font-size: 20px; font-weight: bold;white-space: nowrap;">雪国魚沼</div>

                </div>
            </a>
        </div>
        <div class="header-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <template v-if="tipApiLoading">
                            <i class='fa fa-spinner fa-spin fa-3x fa-fw'></i>
                        </template>
                        <template v-else>
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger" v-text="tipData.length"></span>
                        </template>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <template v-if="tipData.length > 0">
                            <li v-for="data in tipData">
                                <a :href="'/admin/product?keyword='+data.name" class="notification-item">
                                    <div style="display:flex;">
                                        <div>
                                            <span class="dot bg-danger"></span>
                                        </div>
                                        <div>
                                            <div style="display:flex;align-items: center;">名稱:<span style="margin-left:3px;" v-text="data.name"></span></div>
                                            <div v-if="data.amountNotice > 0 && data.amount < data.amountNotice"
                                            style="display:flex;align-items: center;">
                                                <span>庫存存量過低(</span>
                                                <span v-text="'< ' + data.amountNotice"></span>
                                                <span>)</span>
                                            </div>
    
                                            <div v-if="!expiredCheck(data.formatExpiredDate)">
                                                <div>有效期限小於三個月</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </template>
                        <template v-else>
                            <li>
                                <a href="#" class="notification-item">
                                    <span>無提醒</span>
                                </a>
                            </li>
                        </template>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-for="data in menuData">
                            <a :href="'/admin' + data.path" :class="data.active==active?'active':''">
                                <i :class="data.icon" style="width: 25px;"></i>
                                <span v-text="data.name"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-profile">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <template v-if="tipApiLoading">
                            <i class='fa fa-spinner fa-spin fa-3x fa-fw'></i>
                        </template>
                        <template v-else>
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger" v-text="tipData.length"></span>
                        </template>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <template v-if="tipData.length > 0">
                            <li v-for="data in tipData">
                                <a :href="'/admin/product?keyword='+data.name" class="notification-item">
                                    <div style="display:flex;">
                                        <div>
                                            <span class="dot bg-danger"></span>
                                        </div>
                                        <div>
                                            <div style="display:flex;align-items: center;">
                                                <span>名稱:</span>
                                                <span style="margin-left:3px;" v-text="data.name"></span>
                                            </div>
                                            
                                            <div v-if="data.amountNotice > 0 && data.amount < data.amountNotice"
                                            style="display:flex;align-items: center;">
                                                <span>庫存存量過低(</span>
                                                <span v-text="'< ' + data.amountNotice"></span>
                                                <span>)</span>
                                            </div>

                                            <div v-if="!expiredCheck(data.formatExpiredDate)">
                                                <div>有效期限小於三個月</div>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </li>
                        </template>
                        <template v-else>
                            <li>
                                <a href="#" class="notification-item">
                                    <span>無提醒</span>
                                </a>
                            </li>
                        </template>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/static/images/user.png" class="img-circle" alt="Avatar" />
                        <span>{{ .username}}</span>
                        <i class="icon-submenu lnr lnr-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/logout">
                                <i class="lnr lnr-exit"></i>
                                <span>登出</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}