{{define "layout/menu"}}
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li v-for="data in menuData">
                    <a :href="'/admin' + data.path" :class="data.active==active?'active':''">
                        <i :class="data.icon" style="width: 25px;"></i>
                        <span v-text="data.name"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{end}}